/*
    Document   : TemplateStyle
    Created on : May 5, 2014, 12:00:40 AM
    Author     : NaDoSh
    Description:
    Purpose of the stylesheet follows.
*/
body
{
     background-color: #F59700;
}
.survey-contnet {
    background-color: #FFF9F0;
   margin: 10%;
   padding: 2%;
   padding-bottom: 10%;
}

/* from PURE buttons-core.css */
.pure-skin-survey button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-skin-survey button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
/* end from PURE buttons-core.css */
/* from PURE buttons.css */
/*csslint unqualified-attributes:false*/

.pure-skin-survey button {
    font-size: 100%;

    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1.5em 0.5em;
    /* color: rgba(0, 0, 0, 0.80); rgba supported */
    /* *color: #444; IE 6 & 7 */
    border: 1px solid #e8c182; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
     background-color: #F59700;
    color: #050300;
    text-decoration: none;

    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

.pure-skin-survey input[type="submit"] {
    font-size: 100%;
	font-weight: bold;
	text-transform: uppercase;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1.5em 0.5em;
    /* color: rgba(0, 0, 0, 0.80); rgba supported */
    /* *color: #444; IE 6 & 7 */
    border: 1px solid #e8c182; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
     background-color: #F59700;
    color: #050300;
    text-decoration: none;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

.pure-skin-survey button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.05)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
}

.pure-skin-survey button:focus {
    outline: 0;
}

.pure-skin-survey button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}


/*! Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
/* This page lists core form styles adopted from Normalize.css. */
/*! Copyright (c) Nicolas Gallagher and Jonathan Neal */

/*! normalize.css v1.1.0 | MIT License | git.io/normalize */

/* This page has Normalize.css form-specific style rules applied to a .yui3-form context */

/* ==========
Forms Core
=========*/


/*
 * Corrects margin displayed oddly in IE 6/7.
 */

.pure-skin-survey form {
    margin: 0;
}

/* Define consistent border, margin, and padding.*/


.pure-skin-survey  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */

.pure-skin-survey  legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

.pure-skin-survey  button,
.pure-skin-survey  input,
.pure-skin-survey  select,
.pure-skin-survey  textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

.pure-skin-survey  button,
.pure-skin-survey  input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

.pure-skin-survey  button,
.pure-skin-survey  input[type="button"], /* 1 */
.pure-skin-survey  input[type="reset"],
.pure-skin-survey  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

.pure-skin-survey  button[disabled],
.pure-skin-survey  input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

.pure-skin-survey  input[type="checkbox"],
.pure-skin-survey  input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    margin-right: 5px;
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

.pure-skin-survey  input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

.pure-skin-survey  input[type="search"]::-webkit-search-cancel-button,
.pure-skin-survey  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */

.pure-skin-survey  button::-moz-focus-inner,
.pure-skin-survey  input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

.pure-skin-survey  textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
/* ===============  forms-responsive.css =================*/
@media only screen and (max-width : 480px) {
    .pure-skin-survey  button[type="submit"] {
    margin: 0.7em 0 0;
    }

    .pure-skin-survey  input[type="text"],
    .pure-skin-survey  input[type="password"],
    .pure-skin-survey  input[type="email"],
    .pure-skin-survey  input[type="url"],
    .pure-skin-survey  input[type="date"],
    .pure-skin-survey  input[type="month"],
    .pure-skin-survey  input[type="time"],
    .pure-skin-survey  input[type="datetime"],
    .pure-skin-survey  input[type="datetime-local"],
    .pure-skin-survey  input[type="week"],
    .pure-skin-survey  input[type="number"],
    .pure-skin-survey  input[type="search"],
    .pure-skin-survey  input[type="tel"],
    .pure-skin-survey  input[type="color"],
    .pure-skin-survey  label {
	margin-bottom: 0.3em;
	display: block;
    }




/* ===============  forms.css =================================*/
.pure-skin-survey  input[type="text"],
.pure-skin-survey  input[type="password"],
.pure-skin-survey  input[type="email"],
.pure-skin-survey  input[type="url"],
.pure-skin-survey  input[type="date"],
.pure-skin-survey  input[type="month"],
.pure-skin-survey  input[type="time"],
.pure-skin-survey  input[type="datetime"],
.pure-skin-survey  input[type="datetime-local"],
.pure-skin-survey  input[type="week"],
.pure-skin-survey  input[type="number"],
.pure-skin-survey  input[type="search"],
.pure-skin-survey  input[type="tel"],
.pure-skin-survey  input[type="color"],
.pure-skin-survey  select,
.pure-skin-survey  textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ffd89e;
    font-size: 0.8em;
    box-shadow: inset 0 1px 3px #ffd89e;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.pure-skin-survey  input[type="text"]:focus,
.pure-skin-survey  input[type="password"]:focus,
.pure-skin-survey  input[type="email"]:focus,
.pure-skin-survey  input[type="url"]:focus,
.pure-skin-survey  input[type="date"]:focus,
.pure-skin-survey  input[type="month"]:focus,
.pure-skin-survey  input[type="time"]:focus,
.pure-skin-survey  input[type="datetime"]:focus,
.pure-skin-survey  input[type="datetime-local"]:focus,
.pure-skin-survey  input[type="week"]:focus,
.pure-skin-survey  input[type="number"]:focus,
.pure-skin-survey  input[type="search"]:focus,
.pure-skin-survey  input[type="tel"]:focus,
.pure-skin-survey  input[type="color"]:focus,
.pure-skin-survey  select:focus,
.pure-skin-survey  textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: #129FEA;
}

.pure-skin-survey  input[type="file"]:focus,
.pure-skin-survey  input[type="radio"]:focus,
.pure-skin-survey  input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}

.pure-skin-survey  input[type="text"][disabled],
.pure-skin-survey  input[type="password"][disabled],
.pure-skin-survey  input[type="email"][disabled],
.pure-skin-survey  input[type="url"][disabled],
.pure-skin-survey  input[type="date"][disabled],
.pure-skin-survey  input[type="month"][disabled],
.pure-skin-survey  input[type="time"][disabled],
.pure-skin-survey  input[type="datetime"][disabled],
.pure-skin-survey  input[type="datetime-local"][disabled],
.pure-skin-survey  input[type="week"][disabled],
.pure-skin-survey  input[type="number"][disabled],
.pure-skin-survey  input[type="search"][disabled],
.pure-skin-survey  input[type="tel"][disabled],
.pure-skin-survey  input[type="color"][disabled],
.pure-skin-survey  select[disabled],
.pure-skin-survey  textarea[disabled] {
    cursor: not-allowed;
    box-shadow: inset 0 1px 10px #ffebcc;
    background-color: #ededed;
    color: #ff9900;
    border-color: #ffd89e;
}
.pure-skin-survey  input[readonly],
.pure-skin-survey  select[readonly],
.pure-skin-survey  textarea[readonly],
.pure-skin-survey  input[readonly]:focus,
.pure-skin-survey  select[readonly]:focus,
.pure-skin-survey  textarea[readonly]:focus {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}
.pure-skin-survey  input:focus:invalid,
.pure-skin-survey  textarea:focus:invalid,
.pure-skin-survey  select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
.pure-skin-survey  input:focus:invalid:focus,
.pure-skin-survey  textarea:focus:invalid:focus,
.pure-skin-survey  select:focus:invalid:focus {
    border-color: #e9322d;
}
.pure-skin-survey  input[type="file"]:focus:invalid:focus,
.pure-skin-survey  input[type="radio"]:focus:invalid:focus,
.pure-skin-survey  input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.pure-skin-survey  select {
    border: 1px solid #ffd89e;
    background-color: white;
}
.pure-skin-survey  select[multiple] {
    height: auto;
}
.pure-skin-survey  label {
    margin: 0.5em 0 0.2em;
    color: #6b4000;
    font-size:90%;
}
.pure-skin-survey  fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.pure-skin-survey  legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    font-size: 125%;
    color: #331f00;
    border-bottom: 1px solid #ffebcc;
}

.
